@{
    ViewBag.Title = "Menu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model gestorPlaces.Nucleo.Entidades.Cliente
@using gestorPlaces.Nucleo.Entidades;



<section id="area-busquedas">
    <button type="submit" class="btn-Registro "><a href="@Url.Action("ResetCliente","Home")"><span class="icon-plus"> </span>Registrar</a></button>
    <input type="search" class="txtbuscador" placeholder="Buscar...">
    <button type="submit" class="btn-search"><span class="icon-search"></span></button>
</section>

@if(@ViewBag.editar == true){
<div class="ventanaModal-edit-cli">
    <div class="content-modal-edit">

        <div id="title-modal">

            <h2>Edicion</h2>
            <button class="btnModalsalir regresarR"><a href="javascript:closeModalEditcli();"><span class="icon-cross"></span></a></button>
        </div>

        <div class="info-modal">
            <div id="formulario">
                <h3></h3>
                
                    @using (Html.BeginForm("GuardarCambios", "Home",FormMethod.Post)){
                        <div class="labelform"><label for="cliente">Cliente:</label></div>
                        @Html.TextBoxFor(model => Model.Nombre, new { @required = "true"})

                        <div class="labelform"><label for="telefono">Telefono:</label></div>
                        @Html.TextBoxFor(model => Model.Telefono, new { @required = "true" })

                        <div class="labelform"><label for="tarifa">Tarifa:</label></div>
                        @Html.TextBoxFor(model => Model.Tarifa, new { @required = "true" })

                        <div class="labelform"><label for="pago">Pago:</label></div>
                    <select name="pago" class="cbxMedidas">
                        <option value="SI">SI</option>
                        <option value="NO">NO</option>
                    </select>

                        <div class="labelform"><label for="fechapago">Fecha de pago:</label></div>
                        @Html.TextBoxFor(model => Model.FechaDePago, new { @type = "date" , @required = "true"})
                        @Html.HiddenFor(model => Model.Id)
                        <div id="btnGuardar">
                            <button class="btn-modal">Guardar <span class="icon-checkmark"></span></button>
                        </div>
                    }      
                
            </div>
        </div>
    </div>
</div>
}



<div class="ventanaModalRClientes">
    <div class="content-modal-RClie">
        <div id="title-modal">
            <h2>Registro Clientes</h2>
            <button class="btnModalsalir regresarR"><a href="javascript:closeModalRClientes();"><span class="icon-cross"></span></a></button>
        </div>

        <div class="info-modal">
            @using (Html.BeginForm("Guardar", "Home", FormMethod.Post)){
            <div id="formulario">         
                    <div class="labelform"><label for="cliente">Cliente:</label></div>
                    @Html.TextBoxFor(model => Model.Nombre, new {@required = "true"})

                    <div class="labelform"><label for="telefono">Telefono:</label></div>
                    @Html.TextBoxFor(model => Model.Telefono, new { @required = "true" })

                    <div class="labelform"><label for="tarifa">Tarifa:</label></div>
                    @Html.TextBoxFor(model => Model.Tarifa, new { @required = "true" })

                    <div class="labelform"><label for="pago">Pago:</label></div>
                <select name="pago" class="cbxMedidas">
                    <option value="SI">SI</option>
                    <option value="NO">NO</option>
                </select>

                    <div class="labelform"><label for="fechapago">Fecha de pago:</label></div>
                    @Html.TextBoxFor(model => Model.FechaDePago, new { @type = "date" , @required="true"})
                    <div id="btnGuardar">
                        <button class="btn-modal">Guardar <span class="icon-checkmark"></span></button>
                    </div>
            </div>
            }
        </div>
    </div>
</div>

<p class="info-seccion" id="vete">En esta sección podrás gestionar la información sobre nuestros clientes como por ejemplo dar de alta un registro, actualizarlo o eliminarlo. También se podrán gestionar las búsquedas basadas en diferentes criterios.</p>
<div class="container-result">
    <ul>
        @foreach(Cliente cliente in Cliente.ObteneTodos()){
            <li class="resultSearchC listReset">
                <h3>@cliente.Nombre</h3>
                <p><strong>Telefono: </strong>@cliente.Telefono</p>
                <p><strong>Tarifa: </strong>@cliente.Tarifa</p>
                <p><strong>Pago: </strong>@cliente.Pago</p>
                <p><strong>Fecha de pago: </strong>@cliente.FechaDePago</p>
                <div class="buttons-dataC">
                    <button type="submit" class="btn-modal">
                        <a href="@Url.Action("Editar", "Home", new {@Id=@cliente.Id})"> Editar<span class="icon-pencil"></span></a>
                    </button>
                    <button type="submit" class="btn-modal" >
                        <a id="eliminar" href="@Url.Action("Eliminar", "Home", new {@Id=@cliente.Id})">Eliminar<span class="icon-cross"></span></a>
                    </button>
                    
                </div>          
            </li>
        } 
    </ul>
        
</div>







